.TodoItem{
    background-color: #FAFAFA;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(32,35,41,0.15);
    border-radius: 5px;
    max-width: 640px;
    width: calc(100% - 62px);
 
}
.TodoItem--completed{
    background-color: #eaeaea85;
}
.TodoItem-p{
    margin: 24px 0 24px 24px;
    width: calc(100%-120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
.TodoItem-p-completed{
    text-decoration: line-through;
    color: rgba(143, 142, 142, 0.538);
}
.Icon{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
}
.Icon-check{
    position: absolute;
    left: 12px;
    font-size: 35px;
    font-weight: lighter;
    color: gray;

}
.Icon-check--active{
    color: #65ea13;
    font-weight: normal;
    font-size: 45px;
}
.Icon-delete{
    position: absolute;
    top: -24px;
    right: 18px;
}
.Icon-delete:hover{
   color: rgba(255, 0, 0, 0.637);
}